.container{ 
  /* background-color: #fafafa; */
  /* padding: 10px; */
}

.App .container{
  margin-top: 2%;
}

/* #calculator-container {
  max-width: 70%;
} */

.curreCheckbox {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}

.row {
  /* margin-right: 4px; */
}

.dropdown-toggle {
  background-color: #fafafa;
  color: rebeccapurple;
  border-color: transparent;
}

.dropdown-toggle:hover {
  background-color: gray;

}

.input-group {
  padding: 0 0 0 0;
}

.gj-datepicker {
  width: 75%;
}

.curreCheckbox >button::first-letter, .dropdown-menu > button::first-letter {
  color: green;
}

.picker-input__text{
   width:175px;
   margin-bottom: 1%;
   border: 1px solid #ced4da;
   border-radius: 0.25rem;
}
.col {
  text-align: left;
}